*.ipch
*.tlog
*.obj
*.pdb
*.idb
*.pch
*.log
DirectX11/bin/content/Texture/
DirectX11/.vs/
DirectX11/bin/content/
DirectX11/Project/Include/FBXLoader/fbxsdk.h
DirectX11/Project/Include/FBXLoader/
DirectX11/Project/Library/FBXLoader/
Resource/
